* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #7a7aaa;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    width: 70%;
}

.advice {
    padding: 10%;
    background: #fff;
    text-align: center;
    border-radius: 18px;
    position: relative;
}

.advice header button {
    padding: 0.2rem;
    border-radius: 50%;
    margin-right: 5px;
}

.advice h1 {
    font-size: 2rem;
}

.advice button {
    margin-top: 20px;
    padding: 0.3rem 1rem;
    background-color: #fff;
    color: #7a7aaa;
    border: 1px solid;
    border-radius: 18px;
    transition: background-color 500ms linear;
}

.advice button .active {
    fill: #0000ff;
}

.advice button:hover {
    cursor: pointer;
    background-color: #c3ccb9;
}

@media screen and (min-width: 500px) {
    .advice .btn-likes {
        position: absolute;
        top: 0;
        right: 20%;
    }
}